################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/Logs
/obj
/TransportStress.csproj
/MirrorLoadTest.sln
/Mirror.Weaver.csproj
/Mirror.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vs
/Temp
/MirrorLoadTest.zip
/Mirror.Editor.csproj
/Mirror.Components.csproj
