################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*.sln
/*.csproj
/*.zip
/.vs
/Library
#/Library/*.asset
#/Library/*.prefs
#/Library/*.txt
#/Library/*.log
#/Library/*.buildreport
#/Library/*.db
#/Library/*.json
#/Library/*.dwlt
#/Library/AnnotationManager
#/Library/assetDatabase3
#/Library/AssetImportState
#/Library/expandedItems
#/Library/metadata
#/Library/ScriptMapper
#/Library/ShaderCache
#/Library/StateCache
#/Library/PackageCache/*
#/Library/PlayerDataCache/*
/Logs
/obj
/Temp
